<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Cards</title>
    <style>
  

        .navbar .right {
            float: right;
        }

        .card-container {
            width: 100%;
            max-width: 800px;
            padding: 20px;
        }

        .card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 20px;
            padding: 20px;
            box-sizing: border-box;
            width: 100%;
        }

        .card h2 {
            font-size: 1.2em;
            margin: 0 0 10px;
        }

        .card p {
            font-size: 0.9em;
            color: #555;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
  <%- include("./components/navbar.ejs") %>
<p style="color: green;"><%- success %></p>
    <div class="card-container">
       <% data.forEach((item)=>{ %>
            <div class="card" onclick="window.location.href='/question/<%- item.id %>'">
                <h2><%- item.title  %></h2>
                <p>Author : <i><%- item.user.username %></i></p>
            </div>
       <% }) %>


        <!-- Add more cards as needed -->
    </div>
</body>
</html>
